* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}

.homepage-body {
  background-color: rgb(33, 202, 33);
  height: 100vh;
}

/* .main-container {
  height: 100vh;
} */

.printer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.printer-container svg {
  height: 100%;
  width: 23%;
  margin-right: 0px;
}
svg text {
  font-family: Lora;
  letter-spacing: 5px;
  stroke: #fdfdfd;
  font-size: 25px;
  font-weight: bold;
  stroke-width: 0.6;
  animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: hsl(244, 99%, 50%);
  }

  100% {
    stroke-dasharray: 10% 0;
    stroke-dashoffstet: -30%;
    fill: rgba(255, 1, 1, 0);
  }
}

.logo-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px 10px;
}

.inec-logo,
.vote-logo,
.login-logo-container img {
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
}

.information {
  background-image: url("pic/ngflag.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
  color: white;
  background-color: green;
  padding: 10px 20px;
}

.language-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.language-container label {
  font-size: 15px;
  font-weight: bold;
  margin: auto 5px;
}

.screen-container {
  padding-top: 0px;
  margin: 0px 50px;
  padding-bottom: 20px;
}

#formSelect {
  margin: auto 0px;
}


#reg,
#vote,
#help {
  background-image: url("pic/reg.png");
  background-size: 50px 70px;
  background-repeat: no-repeat;
  background-position: 5%;
  height: 60px;
  position: relative;
  text-transform: uppercase;
}

#vote {
  background-color: orangered;
  background-image: url("pic/vote2.png");
}

#vote:hover {
  background-color: rgb(233, 65, 4);
}

#help {
  background-image: url("pic/help2.png");
}

.sign-up-form {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(139, 160, 54);
}

#carouselExampleAutoplaying {
  width: 100% !important ;
  height: 23% !important ;
  background-color: rgb(139, 160, 54) !important ;
  position: fixed !important;
  display: flex;
  padding-bottom: 20px;
  /* z-index: 3; */
}
#carouselExampleAutoplaying img {
  height: 100%;
}

#totalVoteCarousel {
  width: 100% !important ;
  height: 100% !important ;
  display: flex;
}

#totalVoteCarousel .carousel-inner {
  margin-left: 0 !important;
  width: 100% !important;
}

.reg-container .reg-h1 {
  background-color: rgb(139, 160, 54);
  z-index: 3;
}

#stateOption option {
  text-transform: capitalize;
}

.carousel-img {
  border-radius: 50%;
}

#myFrame {
  height: 100px;
}

.reg-container {
  position: absolute;
  height: 80% !important;
  color: white;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0px 50px 30px 50px;
  border-radius: 30px 30px 0px 0px;
  background-image: url("pic/14.jpg");
  background-color: darkcyan;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-blend-mode: multiply;
  overflow-y: scroll;
}

.reg-container input {
  background-color: inherit;
  transition: 0.5s;
  color: white;
}
.reg-container select {
  background-color: inherit;
  color: white;
}
.reg-container select:focus {
  background-color: gray;
  transition: 0.5s;
  color: whitesmoke;
}

#checkInvalidFeedback,
#phoneNumberFeedback,
#emailFeedback {
  color: orangered;
  display: none;
  font-weight: bold;
}

.container {
  padding: 0px 0px;
  background-image: url(pic/login-background-image.jpeg);
  background-repeat: no-repeat;
  background-position: 10%;
  background-size: 100% 100%;
}

.login-logo-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px;
  margin: 30px 0px;
}

.login-main {
  width: 100%;
  border: 3px solid #3498db;
  border-top: unset;
  padding: 20px 30px;
  margin-top: 70px;
  color: whitesmoke;
}
.container h1 {
  text-transform: capitalize;
}

.input-area {
  margin-top: 40px;
}

.input-area h2 {
  width: 100%;
  background-color: rgb(0, 106, 255);
  padding: 5px;
  color: whitesmoke;
}

.input-area input, #forgotpassinput {
  color: darkorange;
  border: 3px solid #3498db;
  transition: 0.5s;
  border-radius: 20px;
  width: 100%;
  margin: 10px auto;
  padding: 0px 10px;
  background-color: inherit;
  line-height: 40px;
  box-shadow: inset 0px 0px 2px gray;
}

.input-area input::placeholder, #forgotpassinput::placeholder, #nin::placeholder {
  color: white;
}


#forgotPasswordSection {
  display: none;
}

#myPassword {
  border-radius: 5px;
}

.container-check-txt {
  font-size: 12px;
}

#rulesModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(3, 3, 31, 0.4);
}

.change-name-modal-content,
.rules-modal-content {
  position: relative;
  background-color: brown;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  border-radius: 10px;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.rules-modal-content {
  height: 90%;
  /* background-color: dimgray; */
  margin: auto 0px;
  overflow-y: auto;
}
.rules-modal-content h1 {
  padding: 50px 30px;
  text-align: center;
  font-size: 40px;
  color: whitesmoke;
  text-transform: uppercase;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.change-name-modal-close,
.rules-modal-close {
  color: red;
  font-size: 30px;
  font-weight: bold;
}
.change-name-modal h2,
#rulesModal h2 {
  margin: auto 0px;
}

.change-name-modal-close:hover,
.change-name-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.change-name-modal-header,
.rules-modal-header {
  padding: 0px 16px;
  background-color: rgb(1, 2, 41);
  color: white;
  display: flex;
  justify-content: space-between;
}

.change-name-modal-body {
  padding: 2px 16px;
}
.rules-modal-body {
  color: white;
  padding: 0px 40px 80px 40px;
}

.rules-modal-body h3 {
  text-align: center;
  color: orange;
  margin: 20px 0px;
}
.rules-modal-body ul {
  margin-top: 10px;
}

.rules-modal-header {
  background-color: darkcyan;
  padding: 16px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.change-name-modal-footer {
  margin-top: 20px;
  padding: 20px 16px 5px 16px;
  background-color: rgb(1, 2, 41);
  color: white;
  display: flex;
  justify-content: end;
}

#showPassContainer {
  display: none;
  z-index: 5;
}

.rules-modal-close {
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px;
}

.rules-modal-close:hover {
  background-color: red;
  color: white;
}

.table-body:nth-child(even) {
  background-color: rgba(2, 239, 2, 0.17);
}

.voting-page,
.voting-page-gov {
  border: 8px solid green;
  width: 100%;
  /* overflow: hidden ; */
}

.captin-caption {
  border-bottom: 5px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

.voting-page td,
.voting-page th {
  text-transform: capitalize;
  border: 3px solid green !important;
}

.voting-page thead th {
  text-transform: capitalize;
  border: 3px solid green !important;
  padding: 20px 0px !important;
}
td img {
  width: 100%;
  height: 80%;
}

td h3 {
  text-transform: uppercase;
  text-align: center;
}


.voting-page .fa-fingerprint {
  color: blue;
  margin: auto 0px;
  font-size: 50px;
  text-align: center;
}

#fingerprintBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  margin: 10px auto;
}

.fa-fingerprint {
  width: 100%;
  font-size: 30px;
  color: white;
  margin: auto 0px;
}

#fingerprintBtnInModal {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
  display: flex;
  margin: 0px auto;
}

.modal-fingerprint {
  font-size: 60px;
}
.btn-div {
  flex-direction: column;
}
.btn-div button {
  margin: 0px auto;
}
.my-choice {
  background-color: rgb(255, 123, 0) !important;
}

.sweet-alert-modal {
  background-color: rgb(209, 231, 209);
  display: none;
  width: 100%;
}

.sweet-alert {
  border-radius: 50%;
  border: 4px solid rgb(158, 210, 158);
  width: 80px;
  height: 80px;
  margin: 20px auto;
}

.sweet-alert-h3 {
  padding: 0px 5px;
}

.fa-check {
  font-size: 50px;
  color: rgb(119, 243, 51);
}

.okay-btn {
  background-color: green !important;
  padding: 6px 15px !important;
  box-shadow: 0px 0px 2px 1px blue;
  display: flex !important;
  margin: 0px auto;
}

.print-btn {
  padding: 2px 15px !important;
  display: flex !important;
  margin-left: auto;
  margin-right: 20px;
  justify-content: center;
  width: auto;
}

#ninFeedback {
  display: none;
}

.contestant-page {
  height: 100vh;
  background-image: url("pic/idshow1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

.contestant-container {
  width: 100%;
}

.chairman-body {
  height: 100%;
  width: 100%;
}

.chairman-main-container {
  width: 100%;
  padding: 50px;
  background-image: linear-gradient(
      180deg,
      rgb(72, 133, 1) 35%,
      white 30%,
      transparent 100%,
      white 10%
    ),
    radial-gradient(
      circle at 50% 110%,
      rgb(72, 133, 1) 18%,
      rgb(150, 150, 175) 10%
    );
}


.chairman-main-login-container {
  padding: 50px;
  background-image: radial-gradient(
      circle at 80% -30%,
      rgb(72, 133, 1) 40%,
      white 40%,
      transparent 100%,
      white 10%
    ),
    radial-gradient(
      circle at bottom left,
      rgb(72, 133, 1) 30%,
      rgb(150, 150, 175) 30%
    );
}


@media screen and (min-width: 600px) {
  .inec-logo,
  .vote-logo,
  .login-logo-container img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    height: 150px;
  }

  .homepage-body {
    height: 100vh;
  }

  #homeBtn {
    display: flex !important;
    justify-content: center;
    gap: 20px;
    width: 75%;
  }

  #reg,
#vote,
#help {
  background-image: url("pic/reg.png");
  background-size: 50px 70px;
  background-repeat: no-repeat;
  background-position: 5%;
  height: 60px;
  position: relative;
  text-transform: uppercase;
  width: 23%;
}

  .main-container {
    width: 100% !important;
    margin: 0px auto;
    background-color: rgb(33, 202, 33);
  }

  .information {
    padding: 40px;
    background-size: cover;
  }

  .screen-container {
    width: 100%;
    margin: 0px auto;
    padding: 0px 50px;
  }

  #rulesModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(3, 3, 31, 0.4);
  }

  .reg-form {
    width: 40% !important;
  }

  .carousel-inner {
    width: 40% !important;
    margin: 0px auto;
  }

  .contestant-page {
    height: 100vh;
    width: 100% !important;
    margin: 0px auto;
    background-image: url("pic/idshow1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
  }

  .contestant-container {
    width: 40%;
    padding: 0px 30px;
  }

  #showPassContainer {
    display: none;
    width: 40% !important;
    margin: 0px auto !important;
  }

  .container {
    max-width: 100% !important;
    height: 100%;
    padding: 0px 0px;
    background-image: url(pic/login-background-image.jpeg);
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: 100% 100%;
  }

  .login-body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }

  .login-main {
    width: 40%;
    margin: 0px auto;
  }
  .presidential-voting-page {
    background-color: rgb(0, 0, 0);
  }

  .vp-main {
    width: 40%;
    margin: 0px auto;
    background-color: whitesmoke;
  }

  .sweet-alert-modal {
    background-color: rgb(209, 231, 209);
    display: none;
    width: 40%;
    margin: 0px auto;
  }

  .chairman-main-container {
    padding: 50px;
    display: flex;
    background-image: linear-gradient(
        180deg,
        rgb(72, 133, 1) 42%,
        white 35%,
        transparent 100%,
        white 10%
      ),
      radial-gradient(
        circle at 50% 110%,
        rgb(72, 133, 1) 18%,
        rgb(150, 150, 175) 10%
      );
  }

  .main-main-reg {
    margin: auto;
    width: 100%;
  }

  .chairman-main-login-container {
    padding: 50px;
    display: flex;
    background-image: radial-gradient(
        circle at 70% -15%,
        rgb(72, 133, 1) 35%,
        white 30%,
        transparent 100%,
        white 10%
      ),
      radial-gradient(
        circle at bottom left,
        rgb(72, 133, 1) 30%,
        rgb(150, 150, 175) 30%
      );
  }

  .main-main {
    margin: auto;
    width: 100%;
  }

  .btn-div {
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
  }
  .btn-div button {
    margin: 0px auto;
    width: 25%;
  }
}

.tr-cursor {
  cursor: pointer;
}


.nxti-btn {
  margin: 20px auto;
}

.all-vote {
  margin-left: auto;
  margin-top: 20px;
}
